/* =====================================
  common
=======================================*/

::-moz-selection {
  background-color: var(--green);
  color: #fff;
}
::selection {
  background-color: var(--green);
  color: #fff;
}

.pos_center {
  z-index: 1;
  width: 100%;
  display: grid;
  align-content: space-between;
  justify-content: center;
  justify-items: stretch;
  padding: 0 20px; 
  box-sizing: border-box;
  transition: 1s;
}

.visuallyhidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px; 
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%); 
  clip: rect(0, 0, 0, 0); 
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.bubble {position: relative; box-sizing: border-box; padding: 20px 20px; border-radius: 80px;}
.bubble_tail:after {
  content: ''; 
  position: absolute;
  width: 40px; height: 22px; 
  background-color: inherit;
  -webkit-mask-image: url("/src/assets/images/icon/bubble_tail.svg"); 
  mask-image: url("/src/assets/images/icon/bubble_tail.svg"); -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: center center; 
  mask-position: center center; 
  -webkit-mask-size: contain; 
  mask-size: contain;
}











