/* =====================================
  game
=======================================*/
.balance_game .pos_center {
  grid-template-columns: 1fr 1fr;
  align-items: start;
}


.balance_asking {margin-bottom: 3.333em}
.balance_asking .count {color: var(--guide); font-size: 1.333rem; font-weight: 400; text-align: center; }
.balance_asking > h2 {color: var(--complementary); font-size: 2.222rem; font-weight: 700; text-align: center; }

.balance_list_group {position: relative; }

.balance_answer { }

.balance_answer.on {display: flex; flex-wrap: wrap; flex-direction: column; gap: 1.333em 0; animation-name: opacity; animation-duration: 2s; animation-fill-mode:forwards;}

@keyframes opacity {
  0% { 
    opacity: 0;
  } 
  100% { 
    opacity: 1; 
  } 
}


.balance_radio_item .balance_input_hidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px; 
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%); 
  clip: rect(0, 0, 0, 0); 
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.balance_radio_item .balance_label:has(.balance_input_hidden:checked) {background-color: red;}
.balance_radio_item .balance_label {display: block; width: 100%; padding: 15px 20px; box-sizing: border-box; border-radius: 50px; background-color: var(--green); }
.balance_radio_item .balance_a {display: block; font-size: 1.333rem; font-weight: 500; text-align: center; line-height: 1.2em; cursor: pointer; }

.balance_guide {position: absolute; bottom: 50px; left: 0; width: 100%; grid-column: 1 / span2; font-size: 14px; font-weight: 400; color: var(--guide); text-align: center; }



/* result_details 
================================= */
.result_details {
  display: grid; 
  grid-template-columns: 200px auto; 
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.result_details .txt_group .title {margin-bottom: 2.388rem; font-size: 2.222rem; color: var(--complementary); line-height: 1.1;}
.result_details .txt_group .summary {margin-bottom: 3.333rem; font-size: 1.777rem; color: var(--complementary); }
.result_details  .btn_bottom_group .pre {}

.result_details  .btn_bottom_group {display: flex; flex-wrap: wrap; margin-top: 3.611rem;}
.result_details  .btn_bottom_group .btn {padding: 7px 24px; box-sizing: border-box; border-radius: 30px; font-size: 1.333rem; color: var(--white); font-family: 'LOTTERIACHAB'; } 
.result_details  .btn_bottom_group .fill_pink {background-color: var(--pink); }
.result_details  .btn_bottom_group .fill_purple {background-color: var(--purple); }




/* ====================================
 container query ~689px
==================================== */
@container res-container (max-width: 689px) {
  .balance_game .pos_center {
    grid-template-columns: auto;
    align-content: center;
  }
  .balance_memoji {position: absolute; top: 50%; left: 50%; z-index: -1; transform: translate(-50%,-50%); filter: blur(2px);}

  .balance_guide {grid-column: auto; font-size: 12px; }

  
}