/* ====================================
 intro
==================================== */
.intro {
  position: relative; 
  container-name: res-container; 
  container-type: inline-size;
}
.intro:after{
  content: '';
  position: absolute; top: 0; left: 0;
  z-index: -1;
  width: 100%; height: 100%;
  background-image: url('/src/assets/images/pages/start_small.svg'); 
  background-size: 28px 28px;
  background-position: top 120px right 120px;
  background-repeat: no-repeat;
  animation-name: glowing-stars;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1.5s;
}
.intro:before{
  content: '';
  position: absolute; top: 0; left: 0;
  z-index: -1;
  width: 100%; height: 100%;
  background-image: url('/src/assets/images/pages/start_small.svg'); 
  background-size: 28px 28px;
  background-position: bottom 80px center; 
  background-repeat: no-repeat;
  animation-name: glowing-stars;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1s;
}



/* name_tag_group //명찰 + 텍스트 
================================= */
.name_tag_group {
  position: absolute; 
  top: 5%; left: 50%; 
  z-index: 100; 
  width: 100%; 
  display: grid; 
  grid-template-columns: 380px 500px;
  justify-content: center; 
  align-items: center; 
  gap: 0 20px;
  margin-top: 80px;
  transform: rotateZ(-9deg) translate(-50%);
  transition: 1s;
}
.name_info_article {color: var(--complementary);}
.name_info_article > h3 {font-size: 1.666rem; font-weight: 700;}
.name_info_article > h3 .icon_hand {display: inline-block; width: 30px; height: 30px; background-image: url("/src/assets/images/icon/hand.png"); background-repeat: no-repeat; background-size: contain; background-position:center center; vertical-align: sub; }
.name_info_article > p {margin-top: 1.1rem; font-size: 1.222rem; font-weight: 400; line-height: 2.1rem;}

.name_info_tag {
  position: relative; 
  background-image:url('/src/assets/images/pages/nametag_v2.svg'); 
  background-repeat: no-repeat; 
  background-size: contain; 
  background-position: bottom center; 
  aspect-ratio: 3 /4; 
}
.name_info_tag.on {
  animation-name: swing;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/*
.name_info_tag:before {
  content: ''; 
  position: absolute; 
  z-index: 1; 
  top: -100%; left: calc(50% - 18px);
  width: 35px; height: 100%; 
  margin-top: 22px;
  background-image: url('/src/assets/images/pages/nametag_line.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
} */


.name_info_tag:after {
  content: ''; 
  position: absolute; 
  z-index: -2; 
  top: -100%; left: calc(50% + 20px); 
  width: 10px; height: 100%; 
  background: rgb(72,183,4);
  background: linear-gradient(140deg, rgba(72,183,4,1) 3%, rgba(114,222,47,1) 20%, rgba(58,134,10,1) 97%);
  box-shadow: 2px 0px 3px rgb(68 135 27 / 28%);
  transform: translateX(-50%) rotate(10deg);
}

.name_info_tag:before {
  content: ''; 
  position: absolute; 
  z-index: 2; 
  top: -100%; left: calc(50% - 25px); 
  width: 10px; height: 100%; 
  background: rgb(72,183,4);
  background: linear-gradient(140deg, rgba(72,183,4,1) 3%, rgba(114,222,47,1) 20%, rgba(58,134,10,1) 97%);
  box-shadow: 2px 0px 3px rgb(68 135 27 / 28%);
  transform: translateX(-50%) rotate(-10deg);
}


@keyframes swing {
  20% { transform: rotate(15deg); } 
  40% { transform: rotate(-10deg); } 
  60% { transform: rotate(5deg); } 
  80% { transform: rotate(-5deg); } 
  100% { transform: rotate(0deg); } 
}

.name_info_tag .info {
  position: absolute; 
  bottom: 60px; left: 0; 
  width: 100%; 
  display: grid; 
  gap: 1.111em 20px; 
  padding: 0 2em;
  box-sizing: border-box; 
}
.name_info_tag .info .info_face {width: 100%; height: 100%; background: url('/src/assets/images/memoji/fighting.svg') no-repeat center; background-size: contain; aspect-ratio: 3/2;}
.name_info_tag .info .info_txt {max-width: 320px; padding: 0 20px; }
.name_info_tag .info_txt dl {
  display: flex;
  box-sizing: border-box;
  font-family: Koulen; 
  color: var(--white); 
  text-transform: uppercase; }
.name_info_tag .info_txt dl + dl {margin-top: 10px; }
.name_info_tag .info_txt dl > dt {flex-basis: 60px; font-size: 1rem; font-weight: 400; }
.name_info_tag .info_txt dl > dd {flex-basis: calc(100% - 60px); padding: 0 2px; box-sizing: border-box; border-bottom: 1px solid rgba(40, 77, 17, 0.5); font-size: 1rem; font-weight: 400; }


/* 배경 아이콘
================================= */
.figure_around {position: absolute; top: 50%; left: 50%; max-width: 800px; width: 100%; aspect-ratio: 1/1; transform: translate(-50%, -50%); }

.figure_portfolio {
  position: absolute; top: 6%; left: -240px; 
  width: 321px; height: 208px;
  background-image: url('/src/assets/images/pages/portfolio.png'), url('/src/assets/images/pages/blasting.svg'); 
  background-size: contain, auto 90px; 
  background-position: left center, top right; background-repeat: no-repeat; 
  animation-name: scale-bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 1s;
}

.figure_bone {
  content:''; 
  position: absolute;
  top: -15%; left:30%;
  z-index: 1;
  width: 500px; height: 400px;
  background-image: url('/src/assets/images/icon/eye.png'); 
  background-size: 60px 60px; 
  background-position: center center; 
  background-repeat: no-repeat;
}
  
.figure_bone:after {
  content: '';
  position: absolute; top: 50%; left:50%;
  width: 500px; height: 400px;
  background-color: rgba(255,255,255,0.4);
  -webkit-mask-image: url("/src/assets/images/common/fishbone.svg"); 
  mask-image: url("/src/assets/images/common/fishbone.svg"); -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: center center; 
  mask-position: center center; 
  -webkit-mask-size: contain; 
  mask-size: contain;  
  transform: translate(-50%, -50%);
}

@keyframes scale-bounce {
  0% {
    transform: scale(0.5);
  }
  
  40% {
    transform: scale(0.8) rotate(8deg);
  }

  80% {
    transform: scale(0.8) rotate(-8deg);
  }

  100% {
    transform: scale(0.5) rotate(0deg);
  }
}

.figure_start {
  display: inline-block; 
  width: 52px; height: 60px; 
  background-repeat: no-repeat; 
  background-size: contain; 
  background-position: center center; 
  -webkit-mask-image: url("/src/assets/images/pages/start.svg"); 
  mask-image: url("/src/assets/images/pages/start.svg"); -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: center center; 
  mask-position: center center; 
  -webkit-mask-size: contain; 
  mask-size: contain;
}
.figure_start.blue {
  position: absolute; top: 34%; left: -90px;
  background-color: #4557FA;
  animation-name: glowing-stars;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.5s;
}
.figure_start.purple {
  position: absolute;  top: 50%; left: -240px;
  background-color: var(--purple);
  animation-name: glowing-stars-zoom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 1.5s;
  transition: 1s;
}
.figure_start.green {
  position: absolute;  top: -15px; right: 15px;
  width: 106px; height: 120px;
  background-color: var(--green);
  
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes glowing-stars-zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(0.2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}




.figure_start_line {
  position: absolute; bottom: 5%; left: -80px;
  display: inline-block; 
  width: 88px; height: 88px; 
  background-color: var(--complementary);
  background-position: center center; 
  -webkit-mask-image: url("/src/assets/images/pages/start_line.svg"); 
  mask-image: url("/src/assets/images/pages/start_line.svg"); -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: center center; 
  mask-position: center center; 
  -webkit-mask-size: contain; 
  mask-size: contain;
  transition: 1s;
}
.figure_oval {
  position: absolute; bottom: 9%; left: 7%;
  display: inline-block; 
  width: 90px; height: 54px; 
  background-color: #E15405;
  background-position: center center; 
  -webkit-mask-image: url("/src/assets/images/pages/oval.svg"); 
  mask-image: url("/src/assets/images/pages/oval.svg"); -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: center center; 
  mask-position: center center; 
  -webkit-mask-size: contain; 
  mask-size: contain;
  transition: 1s;
}


.weclome_group {position: absolute; bottom: 50px; right: 10%; }
.weclome_group > div {position: relative; width: 325px; height: 334px; transition: 1s;}
.weclome_group:after {content: ''; position: absolute; top: 50%; left: 50%; z-index: 1; width: 100px; height: 100px; background-image: url("/src/assets/images/memoji/face_heart.svg"); background-repeat: no-repeat; background-size: contain; background-position: center center; transform: translate(-50%, -50%);}

.weclome_sign {
  max-width: 325px; 
  width: 100%; height: 100%;
  background-color: var(--complementary);
  background-position: center center; 
  -webkit-mask-image: url("/src/assets/images/pages/weclome_sign.svg"); 
  mask-image: url("/src/assets/images/pages/weclome_sign.svg"); 
  -webkit-mask-repeat: no-repeat; 
  mask-repeat: no-repeat; 
  -webkit-mask-position: center center; 
  mask-position: center center; 
  -webkit-mask-size: contain; 
  mask-size: contain;
  animation: rotate 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate{
  100% {
      transform: rotate(360deg);
    }
}




/* 그라데이션 라인 */
.intro .gradation_line {position: absolute; bottom: 0; left: 0; z-index: -1; width: 100%; height: 97px; background-repeat: repeat-x; background-image:url('/src/assets/images/common/gradation_line.svg'); background-size: contain; background-position: left center; animation-name: wave_line; animation-duration: 2s; animation-iteration-count: infinite;}

@keyframes wave_line1 {
  0% { 
   left: 0; bottom: 5px;
  } 
  100% { 
   left: 100%; bottom: -15px; 
  } 
}






/* ====================================
 container query ~1200px
==================================== */
@container res-container (max-width: 1200px) {
  .name_tag_group {grid-template-columns: 340px auto;}

  /* 주위 효과 */
  .figure_portfolio {width: 270px; height: 158px; left: -10%;}
  .figure_start.purple {left: -5%;}
  .figure_start.blue {left: 0; }
  .weclome_group > div {width: 275px; height: 284px;}
  .figure_start.green {top: -10px; width: 86px; height: auto; aspect-ratio: 1/2;}
  
}




/* ====================================
 container query ~912px
==================================== */
@container res-container (max-width: 912px) {
  .name_tag_group {left: 0; transform: none;}

  
}




/* ====================================
 container query ~740px
==================================== */
@container res-container (max-width: 740px) {
  .name_tag_group {grid-template-columns: auto;}
  .name_info_article {margin-top: 2.222rem; }

  /* 주위 효과 */
  .figure_around {top: 0; transform: translateX(-50%);}
  .figure_portfolio {width: 230px; height: 118px; left: 0;}
  .weclome_group {bottom: -45px; right: 0; }
  .weclome_group > div {width: 136px; height: 142px; }
  .weclome_group:after {width: 50px; height: 50px;}
  .figure_start.green {width: 42px; top: -20px;}
}





/* ====================================
 container query  ~426px
==================================== */
@container res-container (max-width: 426px) { 
  

}

