.myself .pos_center {
  width: 100%;
  z-index: 1;
  display: grid; 
  grid-template-columns: 500px 375px;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  justify-items: stretch;
  gap: 0 20px;
  transition: 1s;
}

.myself .bubble_group {
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: column;
  align-items: flex-end;
  gap: 10px 0;
  
}
.myself .bubble {padding: 24px 40px; background-color: var(--blue); text-align: right; font-size: 1.444rem; color: var(--white); font-weight: 700;}
.myself .bubble:first-of-type {padding: 24px 40px 24px 60px; }
.myself .bubble.blur span{filter: blur(3.2px);}
.myself .bubble_tail:after{bottom: -10px; right: 15px; }
