.myself {background-image: url('/src/assets/images/pages/gradation_bg_top.png'), url('/src/assets/images/pages/gradation_bg_bottom.png'); background-repeat: no-repeat; background-position: left top, left bottom; background-size: 100% 100%, auto; }
.myself .pos_center {
  width: 100%;
  z-index: 1;
  display: grid; 
  grid-template-columns: auto 375px;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  justify-items: stretch;
  gap: 0 20px;
  transition: 1s;
}

.myself .bubble_group {
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: column;
  align-items: flex-end;
  gap: 10px 0;
  
}
.myself .bubble {padding: 24px 40px; background-color: var(--blue); text-align: right; font-size: 1.444rem; color: var(--white); font-weight: 700;}
.myself .bubble:first-of-type {padding: 24px 40px 24px 60px; }
.myself .bubble.blur span{filter: blur(3.2px);}
.myself .bubble_tail:after{bottom: -10px; right: 15px; }

.myself_memoji .memoji {animation: twist 4s linear infinite;}


@keyframes twist{
  0% {
      transform: rotateY(0deg) rotateZ(0deg);
    }
  50% {
    transform: rotateY(35deg) rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}



/* ====================================
 container query ~1200px
==================================== */
@container res-container (max-width: 1200px) {
  .myself .pos_center {grid-template-columns: auto 275px;}
  .myself_memoji .memoji {display: block; max-width: 100%; width: 100%; height: 100%; }
}





/* ====================================
 container query ~689px
==================================== */
@container res-container (max-width: 689px) {
  .myself .pos_center {
    align-items: stretch;
    grid-template-columns: auto;
    grid-template-rows: auto 180px;
  }
}





/* ====================================
 container query ~482px
==================================== */
@container res-container (max-width: 482px) {
  /* .myself_memoji .memoji {width: 50%; margin: 0 auto;} */
}



