
/* ====================================
 media query
==================================== */
@media (max-width: 689px){
  html,body {font-size: 14px;}
}

@media (max-width: 430px){
  html,body {font-size: 12px;}
}





/* ====================================
 container query
==================================== */
@container res-container (max-width: 700px) {
  .name_tag_group {
    width: 90%;
  }
}

@container res-container (max-width: 689px) {
  .header {
    --height: 50px; 
    background-color: orange; 
    height: var(--hd_height); 
  }
  .header_gnb {grid-template-columns: 30px auto 30px; padding-top: 10px;}

  .btn_menu span {width: 22px; height: 2px;}
  .btn_menu span:nth-of-type(1) {top: 6px; }
  .btn_menu span:nth-of-type(2) {top: 14px; }
  .btn_menu span:nth-of-type(3) {bottom: 6px; }

  .btn_menu.on span:nth-of-type(1) {top: 17px; transform: rotate(45deg);}
  .btn_menu.on span:nth-of-type(3) {bottom: 11px; transform: rotate(-45deg);}

  .name_tag_group {
    display: block;
    width: 100%;
    margin-top: 0;
    transform: translateX(-50%);
  }
  .skill .pos_center {
    grid-template-columns: 50px auto 50px;
  }
  .skill_icon.skill_icon_ps {background-position: center center;}

  .myself .pos_center {
    grid-template-columns: 300px 120px;
  }
}


@container res-container (max-width: 482px) {
  .header {background-color: blue; }


  
  .skill .pos_center {
    grid-template-columns: 30px auto 30px;
  }
}


@container res-container (max-width: 374px) { 
  .gnb_category li .btn_category {padding-right: 25px; background-size: 20px auto; font-size: 24px; }
}
