
/* ====================================
 media query
==================================== */
@media (max-width: 940px){
  html,body {font-size: 16px;}
}

@media (max-width: 689px){
  html,body {font-size: 14px;}
}

@media (max-width: 430px){
  html,body {font-size: 12px;}
}



/* ====================================
 container query ~1200px
==================================== */
@container res-container (max-width: 1200px) {


}





/* ====================================
 container query ~940px
==================================== */
@container res-container (max-width: 940px) {

  
}

/* ====================================
 container query ~784px
==================================== */
@container res-container (max-width: 784px) {
  
  
}




/* ====================================
 container query  ~689px
==================================== */
@container res-container (max-width: 689px) {
  .header {
    --height: 60px; 
  }
  .header_gnb {padding-top: 5px;}

  .finish .bubble_group {
    --height: 60px; 
  }

}






/* ====================================
 container query  ~482px
==================================== */
@container res-container (max-width: 482px) {
  .header_gnb {grid-template-columns: 40px auto 40px; padding-top: 10px;}
  .btn_menu span {width: 22px; height: 2px;}
  .btn_menu span:nth-of-type(1) {top: 10px; }
  .btn_menu span:nth-of-type(2) {top: 19px; }
  .btn_menu span:nth-of-type(3) {bottom: 10px; }

  .btn_menu.on span:nth-of-type(1) {top: 20px; transform: rotate(45deg);}
  .btn_menu.on span:nth-of-type(3) {bottom: 18px; transform: rotate(-45deg);}

  .dynamic_island .album_art {width: 24px; height: 24px;}
}





/* ====================================
 container query  ~426px
==================================== */
@container res-container (max-width: 426px) {

  
}






/* ====================================
 container query  ~374px
==================================== */
@container res-container (max-width: 374px) { 

  .dynamic_island .btn_island {max-width: 180px; }

  .gnb_category li .btn_category {padding-right: 25px; background-size: 20px auto; font-size: 24px; }

}
