:root {
  --black : #101010;
  --white : #FFFFFF;

  --guide :#848484;

  --green :#72DE2F;
  --blue: #2AA9F5;
  --purple: #9D50F5;
  --pink : #FF3BA1;
}


.mode-Dark {
  --mode: var(--black);
  --complementary: var(--white);
}

.mode-Light {
  --mode: var(--white);
  --complementary: var(--black);
}